.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.quote img {
  width: 45px;
  height: 40px;
  margin: 0 1rem 1rem 0;
}

.sign {
  width: 100%;
  margin-top: 2rem;
}

.sign p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: var(--color-golden);
}

.sign img {
  width: 250px;
  margin-top: 3rem;
}

@media screen and (max-width: 2000px) {
  .sign img {
    width: 350px;
  }
}

@media screen and (max-width: 650px) {
  .sign img {
    width: 80%;
  }
}
