.container {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
}

.overlay img {
  width: 390px;
  height: 415px;
  z-index: 0;
}

.content {
  width: 100%;
  z-index: 2;
}

.about {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.knife {
  margin: 2rem 4rem;
}

.knife img {
  height: 910px;
}

.history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.history p,
.about p {
  margin: 2rem 0;
  color: var(--color-grey);
}

@media screen and (max-width: 2000px) {
  .knife img {
    height: 1110px;
  }

  .history p,
  .about p {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .knife {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  .overlay img {
    width: 80%;
    height: 320px;
  }
}
